body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.bottomNavigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.centerText {
  text-align: center;
}
.accordionBorder {
  border-top: 5px solid #483078;
}
.btn {
  margin-top: rem;
  width: 100%;
  margin-left: 0%;
  background-color: #483078;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.navLink {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.listItemLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
